@media (min-width: 768px){
	.content>div{
		padding-top: 88px;
	}
}
@media (max-width: 768px){
	.content>div{
		padding: 0;
	}
}
.content{
	background-color: #f8f8f8;
	text-align: left;
	width: 100%;
}
.info_box .caption{
	text-align: center;
	color: #333;
	border-bottom:1px solid #ccc;
	padding-bottom: 8px;
}
.info_pic{
	text-align: center;
}
.info_msg{
	padding: 24px;
}
.info_msg p{
	line-height: 24px;
	text-indent: 2em;
}
.info_more{
	padding: 24px;
	border-top: 1px solid #ccc;
}
.info_more h4{
	color: #0ba1e4;
	margin-bottom: 20px;
}
.info_more p{
	text-indent: 2em;
}